@using GridMvc.Html
@using GridMvc
@using Telerik.Web.Mvc.UI
@model IEnumerable<Songkhue.SE303.Core.Order.Models.OrderModel>
@{
    ViewBag.Title = "Quản lý hóa đơn";
    Songkhue.SE303.Core.Order.OrderDetailsManager _orderDetailsManager = new Songkhue.SE303.Core.Order.OrderDetailsManager();

    int orderId = 0;
    IEnumerable<Songkhue.SE303.Core.Order.Models.OrderDetailsModel> orderDetailsModelList = new List<Songkhue.SE303.Core.Order.Models.OrderDetailsModel>();
    if (Request.QueryString["order"] != null)
    {
        int.TryParse(Request.QueryString["order"].ToString(), out orderId);
        var orderDetails = _orderDetailsManager.GetOrderDetails(orderId);

        orderDetailsModelList = Songkhue.SE303.Core.Order.Models.OrderDetailsModel.ToModelList(orderDetails);
    }
}
@(Html.Telerik().Grid(Model).Name("Grid")
                        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Width(100).Title("Mã hóa đơn").Format("#{0}");
            columns.Bound(o => o.BranchName).Title("Chi nhánh");

            columns.Bound(o => o.Total).Title("Tổng tiền").Format("{0:#,###} VND"); ;
            columns.Bound(o => o.CreatedOn);
            columns.Bound(x => x.Id)
                .Width(100)

                .Template(x => Html.ActionLink("Chi tiết", "Grid", new { order = x.Id }))
                .ClientTemplate("<a href=\"Grid/<#= order #>\">" + "#" + "</a>")
                .Title("#");
        }))
<h1>
    Chi tiết hóa đơn</h1>
@if (orderId > 0)
{
    @(Html.Telerik().Grid(orderDetailsModelList).Name("Details")
                        .Columns(columns =>
        {
            columns.Bound(o => o.Id).Width(100).Title("ID").Width(50).Format("#{0}");
            columns.Bound(o => o.TableId).Width(100).Title("Số bàn");
            columns.Bound(o => o.ItemName).Title("Món");
            columns.Bound(o => o.Quantity).Title("Số lượng");
            columns.Bound(o => o.Price).Title("Giá bán").Format("{0:#,###} VND");
        }))
    
    
    
    
}